.bg-beranda{
    background-image: url('../img/bg-app.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-auth{
    /* background-image: url('../img/bg-auth.jpg'); */
    background-image: url('../img/auth-background.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
input[type="checkbox"] {
    height: 0px;
    width: 17px;
    position: relative;
    border: none !important;
    box-shadow: none !important;
}

input[type="checkbox"]::after {
    content: ' ';
    border-radius: 5px;
    width: 17px;
    height: 17px;
    position: absolute;
    border: 1.7px solid #e5e7eb;
    background: #fff;
}
input[type="checkbox"]:checked::after {
    background: #3943B7;
    border-color: #3943B7;
    background-position: center;
    background-size: cover;
    background-image: url('../img/checkbox.svg');
}

input[type="checkbox"]:checked:disabled::after {
    background-image: url('../img/checkbox-disabled.svg');
    border-color: #CDCFD0;
}
.checkbox-shadow::after{
    border: 1px solid #e5e7eb !important;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.47);
    -webkit-box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.47);
    -moz-box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.47);
}
